body{
    font-family: 'Playball', cursive;
    background-color:dimgray;
}

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-left: 500px;
        font-size: 20px;   
    }


    a{
        text-align: center;
    
    }
    
    li { 
        float:left;
        text-align: center;
        
      }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }

h2{
    color: wheat;
    text-align: center;
    font-family:a; 

}